.background_IMG{
    background-image:url(../src/img/background-image.jpg);
    background-repeat: repeat;
    background-size: 15em;
    height: 90vh;
}
.navbarbg{
    background-color: #2f0b45;
}
.navbar{
    background-color: rgb(47, 11, 69);
}
.Operators-row{
    /* max-width: 1200px; */
}
.video{
     border: solid 2px #2f0b45;
     position: relative;
     
}
.video video{
    width: 100%;
}
.video-player-user{
    background-image:url(./img/kisspng-avatar-user-medicine-surgery.jpg)
}
.Home_Page{
    background-image:url(./img/Call_center.jpg);
    height: 100vh;
    background-size: 100% 100%;
}
.blur {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(3px);
    height: 100%;
    width: 100%;
}
.container .d-flex:nth-child(2) .news_img {
    /* стили для первого img внутри div с классом d-flex */
    height: 100%;
    width: 80vh;
  }

.news_img {
    height: 100%;
    width: 30vh;
}




@media (max-width:768px) {
    .Home_Page{
        height: 100vh;
        background-size: 100% 50%;
        background-repeat:no-repeat;
        background-position-y:50px;
    }
    .blur {
        background: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(1px);
        height: 101vh;
        width: 100%;
    }
}
@media (max-width:900px){

}
