.nav_link{
  color: rgba(0,0,0,.55);
  text-decoration: none;
}

.nav_link.active{
  color: rgba(0,0,0,.9);
}
a:hover,a:focus{
 outline: none;
 text-decoration: none;
}
.tab{
 background: #200122;
 background: -webkit-linear-gradient(to bottom, #6f0000, #200122);
 background: linear-gradient(to bottom, #6f0000, #200122);
 padding: 40px 50px;
 position: relative;
}
.tab:before{
 content: "";
 width: 100%;
 height: 100%;
 display: block;
 position: absolute;
 top: 0;
 left: 0;
 background: linear-gradient(#2e3a6a,#2f0b45);
 opacity: 0.85;
}
.tab .nav-tabs{
 border-bottom: none;
 padding: 0 20px;
 position: relative;
}
.tab .nav-tabs li{ margin: 0 30px 0 0; }
.tab .nav-tabs li a{
 font-size: 18px;
 color: #fff;
 border-radius: 0;
 text-transform: uppercase;
 background: transparent;
 padding: 0;
 margin-right: 0;
 border: none;
 border-bottom: 2px solid transparent;
 opacity: 0.5;
 position: relative;
 transition: all 0.5s ease 0s;
}
.tab .nav-tabs li a:hover{ background: transparent; }
.tab .nav-tabs li.active a,
.tab .nav-tabs li.active a:focus,
.tab .nav-tabs li.active a:hover{
 border: none;
 background: transparent;
 opacity: 1;
 border-bottom: 2px solid #eec111;
 color: #fff;
}
.tab .tab-content{
 padding: 20px 0 0 0;
 margin-top: 40px;
 background: transparent;
 z-index: 1;
 position: relative;
}
.form-bg{ background: #ddd; }
.form-horizontal .form-group{
 margin: 0 0 15px 0;
 position: relative;
}
.form-horizontal .form-control{
 height: 40px;
 background: rgba(255,255,255,0.2);
 border: none;
 border-radius: 20px;
 box-shadow: none;
 padding: 0 20px;
 font-size: 14px;
 font-weight: bold;
 color: #fff;
 transition: all 0.3s ease 0s;
}
.form-horizontal .form-control:focus{
 box-shadow: none;
 outline: 0 none;
}
.form-horizontal .form-group label{
 padding: 0 20px;
 color: #7f8291;
 text-transform: capitalize;
 margin-bottom: 10px;
}
.form-horizontal .main-checkbox{
 width: 20px;
 height: 20px;
 background: #eec111;
 float: left;
 margin: 5px 0 0 20px;
 border: 1px solid #eec111;
 position: relative;
}
.form-horizontal .main-checkbox label{
 width: 20px;
 height: 20px;
 position: absolute;
 top: 0;
 left: 0;
 cursor: pointer;
}
.form-horizontal .main-checkbox label:after{
 content: "";
 width: 10px;
 height: 5px;
 position: absolute;
 top: 5px;
 left: 4px;
 border: 3px solid #fff;
 border-top: none;
 border-right: none;
 background: transparent;
 opacity: 0;
 -webkit-transform: rotate(-45deg);
 transform: rotate(-45deg);
}
.form-horizontal .main-checkbox input[type=checkbox]{ visibility: hidden; }
.form-horizontal .main-checkbox input[type=checkbox]:checked + label:after{ opacity: 1; }
.form-horizontal .text{
 float: left;
 font-size: 14px;
 font-weight: bold;
 color: #fff;
 margin-left: 7px;
 line-height: 20px;
 padding-top: 5px;
 text-transform: capitalize;
}
.form-horizontal .btn{
 width: 100%;
 background: #eec111;
 padding: 10px 20px;
 border: none;
 font-size: 14px;
 font-weight: bold;
 color: #fff;
 border-radius: 20px;
 text-transform: uppercase;
 margin: 20px 0 30px 0;
}
.form-horizontal .btn:focus{
 background: #eec111;
 color: #fff;
 outline: none;
 box-shadow: none;
}
.form-horizontal .forgot-pass{
 border-top: 1px solid #615f6c;
 margin: 0;
 text-align: center;
}
.form-horizontal .forgot-pass .btn{
 width: auto;
 background: transparent;
 margin: 30px 0 0 0;
 color: #615f6c;
 text-transform: capitalize;
 transition: all 0.3s ease 0s;
}


.form-horizontal .forgot-pass .btn:hover{ color: #eec111; }
@media only screen and (max-width: 479px){
 .tab{ padding: 40px 20px; }
}


.CoE-fading-circle {
  margin: 40vh auto;
  width: 30vh;
  height: 30vh;
  position: relative
}
@media (max-width:768px) {
  .CoE-fading-circle {
    width: 20vh;
    height: 20vh;
  }
}

.CoE-fading-circle .CoE-circle {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0
}

.CoE-fading-circle .CoE-circle:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: rgb(47, 11, 69);
  border-radius: 100%;
  -webkit-animation: CoE-circleFadeDelay 1.2s infinite ease-in-out both;
  animation: CoE-circleFadeDelay 1.2s infinite ease-in-out both
}

.CoE-fading-circle .CoE-circle2 {
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg)
}

.CoE-fading-circle .CoE-circle3 {
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg)
}

.CoE-fading-circle .CoE-circle4 {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg)
}

.CoE-fading-circle .CoE-circle5 {
  -webkit-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg)
}

.CoE-fading-circle .CoE-circle6 {
  -webkit-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  transform: rotate(150deg)
}

.CoE-fading-circle .CoE-circle7 {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg)
}

.CoE-fading-circle .CoE-circle8 {
  -webkit-transform: rotate(210deg);
  -ms-transform: rotate(210deg);
  transform: rotate(210deg)
}

.CoE-fading-circle .CoE-circle9 {
  -webkit-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  transform: rotate(240deg)
}

.CoE-fading-circle .CoE-circle10 {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg)
}

.CoE-fading-circle .CoE-circle11 {
  -webkit-transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  transform: rotate(300deg)
}

.CoE-fading-circle .CoE-circle12 {
  -webkit-transform: rotate(330deg);
  -ms-transform: rotate(330deg);
  transform: rotate(330deg)
}

.CoE-fading-circle .CoE-circle2:before {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s
}

.CoE-fading-circle .CoE-circle3:before {
  -webkit-animation-delay: -1s;
  animation-delay: -1s
}

.CoE-fading-circle .CoE-circle4:before {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s
}

.CoE-fading-circle .CoE-circle5:before {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s
}

.CoE-fading-circle .CoE-circle6:before {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s
}

.CoE-fading-circle .CoE-circle7:before {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s
}

.CoE-fading-circle .CoE-circle8:before {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s
}

.CoE-fading-circle .CoE-circle9:before {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s
}

.CoE-fading-circle .CoE-circle10:before {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s
}

.CoE-fading-circle .CoE-circle11:before {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s
}

.CoE-fading-circle .CoE-circle12:before {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s
}

@-webkit-keyframes CoE-circleFadeDelay {

  0%,
  39%,
  100% {
      opacity: 0
  }

  40% {
      opacity: 1
  }
}

@keyframes CoE-circleFadeDelay {

  0%,
  39%,
  100% {
      opacity: 0
  }

  40% {
      opacity: 1
  }
}
